* {
  margin: 0;
  padding: 0;
}

body {
  padding: 3.6rem;
  margin: 0;
 font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}